body {
			margin: 0;
			padding: 0;
		}
		.chanel{
		
			color:red;
			border-width:thin;
			border-color:red;
			border-style: solid;
			width:15%;height:15%;text-align:center;
		}
		.chanel a{
			text-decoration:none;
			
		}
		
		.imagen{
			width: 100%;
			border-width:thin;
			border-color:blue;
			border-style: solid;
		}
.imagen img{
    width: 100%;
}
.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.foco{
		border-width:5px;
			border-color:red;
			border-style: solid;
}
